@import url(//fonts.googleapis.com/css?family=Raleway);
@import "bootstrap-sprockets";
@import "bootstrap";

.row {
	margin-top:15px;
	overflow: auto;
}

.jumbotron {
	text-align: center;
	background-color: white;
	height: 350px;
	color: #009f9b;
	padding-top: 25px;
}

h1 {
	padding-top: 20px;
	font-family: 'Raleway';
	color: #009f9b;
	font-weight: 400;
}

p {
	font-family: 'Raleway';
	color: #009f9b;
}

.profile-image {
	position: absolute;
	border: 2px solid #009f9b;
	left: 25px;
	bottom:30px;
}

.profile-image img {
	height: 100px;
	widows: 100px;
}

.caption {
	text-align: center;
	font-family: 'Raleway';
	font-size: 1em;
}

.btn btn-lg btn-primary {
	background-color: #009f9b;
}

#mainButtons {
	width: 100%;
	font-family: Raleway;
	margin-top: 30px;
	position: relative;
	overflow: auto;
}

button {
	border-radius: 5px;
	background-color: #009f9b;
	color: #FFFFFF;
	height: 50px;
	width: 130px;
}

.btn-primary {
	background-color: #009f9b;
	padding: 15px;
}

h4 {
	font-family: Raleway;
	color: #000000;
	margin-top: 8px;
}


@media (max-width: 375px) {
  
h1 {
	padding-top: 20px;
	font-family: 'Raleway';
	color: #009f9b;
	font-size: 30px;
}

.jumbotron {
	text-align: center;
	background-color: white;
	height: 300px;
	color: #009f9b;
	padding-top: 5px;
}

.btn-primary {
	background-color: #009f9b;
	padding: 5px;
}

.h1 {
	font-size: 30px;
}

}












